body {
  padding: 0;
  margin: 0;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.stream { 
  margin: auto;
  margin-top: 5px;
  width: 100%;
  aspect-ratio: 16 / 9;
  max-height: 700px;
}

.menu {
  width: 100%;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-items: center;
  justify-content: left;
}

.button {
  width: 120px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: black;
  color: white;
  font-weight: bold;
  margin: 10px;
  border-radius: 7px;    
  cursor: pointer;
}

.selected {
  background-color: rgb(219, 216, 216);
  color: red;
}

.header {
  width: 100%;
  height: 100px;
  background-color: white;
}

.logo {
  background-image: url(./assets/logo-cba.png);
  height: 100px;
  border-bottom: solid 1px black;
}

@media all and (max-width: 800px) {
  .logo {
    background-position: center;
    background-repeat: no-repeat;
  }
  .menu {
    width: 100%;
    justify-content: center;
  }
}

.title {
  height: 50px;
  line-height: 50px;
  font-weight: bold;
  font-size: 32px;
  display: none;
}

.footer {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 60px;
  text-align: center;
  color: white;
  background-image: url(./assets/logo-esb.png);
  background-position: center;
  background-repeat: no-repeat;
}

/* Large */
.containerAll {
  margin-top: 5px;
  display: flex;
  gap: 20px 20px;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
.streamAll {
  width: 30%;
  aspect-ratio: 16 / 9;
  border: 1px white solid;
}

/* Medium screens */
@media all and (max-width: 800px) {
  .containerAll {
    flex-direction: column;
  }
  .streamAll {
    width: 99%;
  }
}